@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans');

* {
	margin: 0;
	padding: 0;
}

nav {
    margin: auto;
    text-align: right;
    padding: 1.8em;
}

header {
	text-align: center;
}

body {
	font-size: 16px; /*16px = 1em*/
}

h1 {
	color: #E9849D;
	font-size: 7.5em;
	font-family: 'Abril Fatface', cursive;
	font-weight: 300;
	padding-top: 2em;
	padding-bottom: .5em;
}


h2 {
	color: #282928;
	font-size: 3.7em;
	font-family: 'Abril Fatface', cursive;
	font-weight: 200;
	line-height: 1.2;
	padding: .6em 0;
}

aside {
	
}

article {
	
}

footer {
	text-align: center;
	line-height: 2em;
	padding: 2em 0;
	background-color: #282928;
}

section {
	width: 100%;
}

p {
	color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 2em;
}

ul {
	color: #414241;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 2em;
	padding-left: 1.2em; 
}

a {
	color: #E9849D;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

footer a {
	font-size: 1.2em;
	padding-bottom: .2em;
}

footer a:hover {
	border-bottom: .1em solid #E9849D;
}

footer h2 {
	color: #E9849D;
	font-size: 2.4em;
}

img {
	width: 100%;
}

nav a {
	font-family: 'Open Sans', sans-serif;
	color: #E9849D;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .2em;
	padding: .8em;
    margin: 0 1.2em;
    border: none;
    background-color: none;
}

nav a:hover {
	border-bottom: 2px solid #E9849D;
}

figcaption {
	text-align: center;
	font-size: 0.8em;
	font-weight: 800;
}

.about {
    width: 100%;
}

.imageofme {
    float: left;
    width: 50%;
}

.descriptionaboutme {
    float: right;   
    width: 30%;
    text-align: left;
    margin-right: 10%;
    margin-top: 12%;
}

.skills {
	width: 100%;
}

.imageofwork {
	float: right;
    width: 50%;
}

.descriptionofskills {
    float: left;   
    width: 30%;
    text-align: left;
    margin-left: 10%;
    margin-top: 12%;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.work h2 {
	text-align: center;
}

.work {
	width: 100%; 
	background-color: #e6e6e6;
}

.casestudy {
	/*background-color: orange;*/
	float: left;
	width: 29%;
	padding: 2%;
}


#lander {
	background-image: url("https://i.imgur.com/cHcBQvq.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#slogan {
	font-style: italic;
	font-size: 1.8em;
	padding-bottom: 10em;
	text-align: center;
	font-weight:300px;
	color: #282928;
}
